/*
Base CSS (common)
- Reset
- Typography
- Common buttons
- Header/nav core
- Common utilities
*/

/* font */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

* { box-sizing: border-box; }

header, nav, section, article, aside, footer, hgroup { display: block; }

ul, li { padding: 0; margin: 0; list-style: none; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/* typography */
html, body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 14px;
  line-height: 25px;
}

img { max-width: 100%; height: auto; overflow: hidden; }

/* selection */
::selection { background: #25b0f5; color: #fff; }
::-moz-selection { background: #f525c1; color: #fff; }

/* global helpers */
@media (max-width: 991px) {
  html, body { overflow-x: hidden; }
  .mobile-top-fix { margin-top: 30px; margin-bottom: 0px; }
  .mobile-bottom-fix { margin-bottom: 30px; }
  .mobile-bottom-fix-big { margin-bottom: 60px; }
}

/* buttons */
.main-button-red a,
.main-button-yellow a {
  font-size: 13px;
  color: #fff;
  background-color: #395368;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 22px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all .3s;
}
.main-button-red a:hover,
.main-button-yellow a:hover { opacity: 0.9; }

.section-heading h2 {
  line-height: 40px;
  margin-top: 0px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(141, 174, 20, 0.15);
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

/* header (common) */
.sub-header { position: relative; z-index: 1111; }
.sub-header .left-content p { padding: 8px 0px; font-size: 13px; }
.sub-header .right-icons { text-align: right; padding: 8px 0px; }
.sub-header .right-icons ul li { display: inline-block; margin-left: 15px; }
.sub-header .right-icons ul li a { font-size: 14px; transition: all .3s; }
.sub-header .left-content p em { font-style: normal; }

.background-header {
  height: 80px!important;
  position: fixed!important;
  top: 0!important;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15)!important;
}

.header-area {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 100;
  transition: all .5s ease 0s;
}
.header-area .main-nav { min-height: 40px; background: transparent; }

.header-area .main-nav .logo {
  line-height: 50px;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  float: left;
  transition: all 0.3s ease 0s;
}

.background-header .main-nav .logo { line-height: 75px; }
.background-header .nav { margin-top: 20px !important; }

.header-area .main-nav .nav {
  float: right;
  margin-top: 10px;
  margin-right: 0px;
  background-color: transparent;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}
.header-area .main-nav .nav li { padding-left: 15px; padding-right: 15px; }
.header-area .main-nav .nav li:last-child { padding-right: 0px; }

.header-area .main-nav .nav li a {
  display: block;
  font-weight: 500;
  font-size: 17px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  height: 20px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
}

.header-area .main-nav .nav li.has-sub { position: relative; padding-right: 15px; }
.header-area .main-nav .nav li.has-sub:after {
  font-family: FontAwesome;
  content: "\f107";
  font-size: 12px;
  position: absolute;
  right: 5px;
  top: 12px;
}

.header-area .main-nav .nav li.has-sub ul.sub-menu {
  position: absolute;
  width: 200px;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  top: 40px;
  opacity: 0;
  transition: all .3s;
  transform: translateY(+2em);
  visibility: hidden;
  z-index: -1;
}
.header-area .main-nav .nav li.has-sub ul.sub-menu li { margin-left: 0px; padding-left: 0px; padding-right: 0px; }

.header-area .main-nav .nav li.has-sub ul.sub-menu li a {
  opacity: 1;
  display: block;
  background: #f7f7f7;
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  transition: all 0.3s ease 0s;
  position: relative;
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px solid #eee;
}
.header-area .main-nav .nav li.has-sub ul li a:hover { padding-left: 25px; }
.header-area .main-nav .nav li.has-sub:hover ul.sub-menu {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

/* mobile nav trigger */
.header-area .main-nav .menu-trigger {
  cursor: pointer;
  position: absolute;
  top: 33px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
  display: none;
}
.background-header .main-nav .menu-trigger { top: 23px; }

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  transition: all 0.4s;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after { width: 75%; content:""; }

.header-area .main-nav .menu-trigger span { top: 16px; }
.header-area .main-nav .menu-trigger span:before { transform-origin: 33% 100%; top: -10px; z-index: 10; }
.header-area .main-nav .menu-trigger span:after { transform-origin: 33% 0; top: 10px; }

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after { background-color: transparent; width: 100%; }

.header-area.header-sticky { min-height: 80px; }
.header-area .nav { margin-top: 30px; }

@media (max-width: 1200px) {
  .header-area .main-nav .nav li { padding-left: 7px; padding-right: 7px; }
}

@media (max-width: 767px) {
  .header-area .main-nav .logo { margin-left: 30px; }
  .header-area {
    padding: 0px 15px;
    height: 100px;
    box-shadow: none;
    text-align: center;
  }
  .header-area .container { padding: 0px; }
  .header-area .menu-trigger { display: block !important; }
  .header-area .main-nav { overflow: hidden; }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    display: none;
    margin-left: 0px;
  }
  .header-area .main-nav .nav li:first-child { border-top: 1px solid #eee; }
  .header-area.header-sticky .nav { margin-top: 100px !important; }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #f7f7f7 !important;
  }
  .header-area .main-nav .nav li.has-sub ul.sub-menu {
    position: relative;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: auto;
  }
  .header-area .main-nav .nav li.has-sub:after { right: 30px; font-size: 14px; top: 15px; }
}
@media (min-width: 767px) {
  .header-area .main-nav .nav { display: flex !important; }
}

/* common responsive tweaks */
@media (max-width: 992px) {
  .sub-header .left-content p { display: none; }
  .sub-header .right-icons { text-align: center; }
  .main-nav .nav .sub-menu { display: none; }
}
